#main{
    background-color: rgba(0,0,0,0.7);
   border: 2px solid black;
   width: 300px;
   height: 660px;
   margin-left: 500px;
   padding-top: 30px;
   padding-left: 30px;
   
   
}
#name{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 260px; 
}
#age{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 260px;
}
#email{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 260px;
}
#type{
    font-size: 13px;
   
    margin-bottom: 20px;
    
    height: 30px;
    width: 268px;
}
#movie{
    margin-left: 4px;
    
}
#gender{
   margin-left: 5px;
}
#fedback{
    resize: none;
    height: 70px;
    margin-top: 6px;
}
#submit{
    margin-left: 70px;
    border: 1px solid black;
    font-size: 14px;
    width: 105px;
    margin-top: 10px;
    border-radius: 15px;
    background: red;
    color: white;
    padding: 5px;
}
label{
    color: white;
}
.header{
    text-align: center;
}
#pelement{
    color: white;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#nettflix{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    padding-top: 12px;

}
#span{
    color: white
}
#span1{
    color: red;
}
body{
    background-image: url(./image/background_image.jpg);
    
}
#onurdiv{
    background-color: rgba(0,0,0,0.4);
    margin: 0px 30px 5px;
    
}